<div>
  <div class="chat-container">
    <div class="container">
      <pre class="chat" ng-click="okClick($event)"></pre>
    </div>
  </div>

  <!-- <div class="row"> -->
    <!-- <div class="col-sm-12"> -->
    <!-- </div> -->
  <!-- </div> -->
  <div class="chat-toolbar">
    <div class="container">
      <input class="form-control" type="text" ng-model="chat" ng-enter="doChat()">
    </div>
  </div>

</div>
