$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body, html {
  // padding-top: 20px;
  // padding-bottom: 20px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

room {
  display: block;
  border: 1px solid wheat;
}



.world {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  bottom: 210px;
  overflow: auto;
  padding: 20px 0 20px 0;
  margin: 0;

}

.world_footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e5e5e5;
}

chat {

  .chat-container {
    position: absolute;
    margin: 0px;
    padding: 1px;
    top: 10px;
    left: 0px;
    width: 100%;
    bottom: 38px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  pre.chat {
    clear: left;
    min-height: 12px;
    padding: 5px 0;
    margin: 0;
    // color: #f1f1f1;
    // font-family: monospace;
    // font-size: 12px;
    // line-height: 19px;
    // white-space: pre-wrap;
    white-space: normal;
    word-wrap: break-word;
    // background-color: #222;
    // border: 1px solid #ddd;
    background: none;
    border: none;
    counter-reset: line-numbering;
    // height: 100px;

    p {
      position: relative;
      padding: 0 15px 0 35px;
      margin: 0;
      min-height: 16px;

      &.private {
        // text-decoration: underline;
        // font-weight: bold;
        background-color: rgba(0,0,0,0.1);
      }

      a {
        display: inline-block;
        text-align: right;
        min-width: 40px;
        margin-left: -33px;
        cursor: pointer;
        text-decoration: none;
      }

      a::before {
        content: counter(line-numbering);
        counter-increment: line-numbering;
        padding-right: 1em;
      }

      span.sender {
        color: green;
        cursor: pointer;

        &::after {
          content: ' > ';
        }

        &:hover {
          // color: lightgreen;
          font-weight: bold;
        }
      }

      span.player {
        color: green;
        cursor: pointer;

        // &::before, &::after {
        //   content: ':';
        // }

        &:hover {
          font-weight: bold;
        }
      }


    }

  }

  .chat-toolbar {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    // margin: 2px;
  }
}
