header {
    border-bottom: 1px solid grey;
}

header span {
    float: right;
}

ul {
    padding: 0;
    margin-top: 0;
}

li {
    list-style: none;
}


#login {
    padding: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#room_widget {
    padding: 10px;
    margin: 0px;
    border: 1px solid black;
    background-color: lightgrey;
}

.stiker {
    display: inline-block;
    border: 2px solid olive;
    padding: 4px;
    margin: 2px;
    vertical-align: top;
}

.stiker div:first-child {
    background-color: orange;
    margin: -4px -4px 4px -4px;
    padding: 2px;
}

.stiker span {
    font-weight: bold;
    color: darkgoldenrod;
    display: inline-block;
}

.stiker span.connectat {
    font-weight: bold;
    /*margin-right: 20px;*/
    color: darkgoldenrod;
    width: 150px;
}

.stiker span.username {
    font-weight: bold;
    /*margin-right: 20px;*/
    color: darkgoldenrod;
    width: 90px;
}

.stiker span.owner {
    font-weight: bold;
    /*margin-right: 20px;*/
    color: darkgoldenrod;
    width: 90px;
}

.stiker span.room {
    font-weight: bold;
    margin-right: 20px;
    color: darkgoldenrod;
    /*margin-right: 20px;*/
    width: 90px;
}

.stiker span.pid {
    font-weight: bold;
    /*margin-right: 20px;*/
    color: darkgoldenrod;
    width: 90px;
}

.stiker ul.header{
    margin-bottom:0; padding-bottom:0
}

.stiker ul.header li span {
    color: black !important;
    font-weight: normal;
}
