<!doctype html>
<html lang="en" class="no-js" ng-app="ediceApp">
  <head>
    <meta charset="utf-8">
    <title>Война кубиков 2.0</title>
    <meta name="description" content="">
    <!-- <meta name="viewport" content="width=device-width"> -->
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="world">

      <div class="container-fluid">
        <div class="header">
          <ul class="nav nav-pills pull-right">
            <li ng-show="logedin()" ng-class="{active: path.match('/$')}"><a ng-href="#"><i class="fa fa-gamepad"></i> Главная</a></li>
            <li ng-show="logedin()" ng-class="{active: path.match('^/players')}"><a ng-href="#/players"><span class="badge pull-right">{{ players.model.length }}</span><i class="fa fa-users"></i> Игроки</a></li>
            <li ng-show="logedin()" ng-class="{active: path.match('^/rooms')}"><a ng-href="#/rooms"><span class="badge pull-right">{{ rooms.model.length }}</span><i class="fa fa-cubes"></i> Игры</a></li>
            <li ng-class="{active: path.match('^/login')}"><a ng-href="#/login"><i class="fa fa-user"></i> {{ player.model.username }}</a></li>
          </ul>
          <h3 class="text-muted"><i class="fa fa-cube"></i> Война кубиков 2.0</h3>
        </div>
        <div ng-view="" class="container"></div>

        <div class="footer">
          <a ng-href="#/about">Made with <i class="fa fa-heart"></i> &amp; Yeoman</a>
        </div>

      </div>

    </div>
    <div class="world_footer">
      <chat></chat>
    </div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/ws.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/app.js"></script>
        <script src="scripts/services/resource.js"></script>
        <script src="scripts/services/players.js"></script>
        <script src="scripts/services/rooms.js"></script>
        <script src="scripts/services/player.js"></script>
        <script src="scripts/controllers/players.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/rooms.js"></script>
        <script src="scripts/services/room.js"></script>
        <script src="scripts/directives/room.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/create.js"></script>
        <script src="scripts/directives/chat.js"></script>
        <script src="scripts/services/logger.js"></script>
        <!-- endbuild -->
</body>
</html>
