<div>

  <h4>Параметры игры</h4>
  <form name="form" role="form" ng-submit="onSubmit()">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="params.moderate"> Модерируемая (присоединение игроков только с вашего согласия)
      </label>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Создать</button>
  </form>

</div>
