<div>
  <h4>Авторизация</h4>
  <form name="form" role="form" ng-submit="onSubmit()">
    <div class="form-group">
      <label for="username">Имя пользователя</label>
      <input type="text" class="form-control" id="username" ng-model="user.username" placeholder="Введите имя пользователя" required>
    </div>
    <div class="form-group">
      <label for="password">Пароль</label>
      <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Введите пароль" required>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Запомнить меня
      </label>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Авторизоваться</button>
  </form>
</div>
