<div>
  <room></room>

  <div class="row">
    <div class="col-sm-6">
      <div style="position:absolute;font-size:12em;color:rgb(245,245,245);z-index:-1;top:-20px"><i class="fa fa-user"></i></div>
      <h4><i class="fa fa-user"></i> Статус игрока</h4>

      <table class="table table-condensed">
        <tbody>
          <tr><td>Имя</td> <td>{{ player.model.username }}</td></tr>
          <tr><td>Pid</td> <td>{{ player.model.pid }}</td></tr>
          <tr><td>Игра</td> <td>{{ player.model.room }}</td></tr>
          <tr><td>Состояние</td> <td>{{ player.model.state }}</td></tr>
        </tbody>
      </table>

    </div>
    <div class="col-sm-6">
      <div style="position:absolute;font-size:12em;color:rgb(245,245,245);z-index:-1;top:-20px"><i class="fa fa-cube"></i></div>
      <h4><i class="fa fa-cube"></i> Статус игры</h4>

      <table class="table table-condensed">
        <tbody>
          <tr><td>Pid</td> <td>{{ room.model.pid }}</td></tr>
          <tr><td>Cоздатель</td> <td>{{ room.model.owner }}</td></tr>
          <tr><td>Состояние</td> <td>{{ room.model.state }}</td></tr>
          <tr><td>Игроки</td> <td><span ng-repeat="p in room.model.players"><i class="fa fa-user"></i> {{ p.username }} </span></td></tr>
          <!-- <tr><td>Данные</td> <td>{{ room.model.data }}</td></tr> -->
        </tbody>
      </table>

    </div>
  </div>




</div>
  <!-- <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
