<div>
<!-- <div class="jumbotron"> -->

  <h4>Подключенные игроки</h4>

  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <!-- <th>Pid</th> -->
        <th>Имя</th>
        <th>Игра</th>
        <th>Состояние</th>
        <th>Зарегестрирован</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in players.model" data-id="{{p.id}}">
        <!-- <td>{{ p.pid }}</td> -->
        <td>{{ p.username }}</td>
        <td>{{ p.room }}</td>
        <td>{{ p.state }}</td>
        <td>{{ p.startat * 1000 | date : 'MM/dd/yyyy hh:mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>
