<div>
<!-- <div class="jumbotron"> -->
  <h4>Текущие игры</h4>

  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Pid</th>
        <th>Создатель</th>
        <th>Состояние</th>
        <th>Зарегестрирован</th>
        <th>Игроков</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="r in rooms.model" data-id="{{r.id}}">
        <td>{{ r.pid }}</td>
        <td>{{ r.owner.username }}</td>
        <td>{{ r.state }}</td>
        <td>{{ r.startat * 1000 | date : 'MM/dd/yyyy hh:mm'}}</td>
        <td>{{ r.players.length }}</td>
      </tr>
    </tbody>
  </table>
</div>
