<div>
  <h4>Вы находитель в вестибюле.</h4>
  <div ng-show="room.model.data.rooms_list.length == 0">
    <p><a role="button" class="btn btn-primary btn-block" ng-href="#/create"><span class="glyphicon glyphicon-plus-sign"></span> Чтобы начать играть, вы должны создать игру.</a></p>
  </div>

  <div ng-show="room.model.data.rooms_list.length != 0">
  <p>Вы можете войти в одну из игр</p>

  <table class="table table-striped table-hover table-condensed">
    <tbody>
      <tr ng-repeat="r in room.model.data.rooms_list track by $index" style="cursor: pointer" ng-click="send({command: 'join_room', target: r.pid})">
        <td>{{ $index+1 }}</td>
        <td>{{ r.pid }}</td>
        <td><span ng-repeat="p in r.players"><i class="fa fa-user fa"></i> {{ p.username }} </span></td>
      </tr>
    </tbody>
  </table>

  <!-- <p><button ng-click="send({command: 'create_room'})">Или создать собственную игру</button></p> -->
  <p><a role="button" class="btn btn-primary btn-block" ng-href="#/create"><span class="glyphicon glyphicon-plus-sign"></span> Или создать собственную игру</a></p>

</div>



</div>
