<div>
  <h4>Ожидание игроков...</h4>
  <p>(В разработке)</p>

  <button class="btn btn-primary" ng-click="send({command: 'exit_room'})"><i class="fa fa-thumbs-down"></i> Выйти из игры</button>

</div>
